<div id="<%= name %>_timeline_container" class="flot-timeline-container">
  <div class="flot-timeline-date-range">
    <%= flot_date_range_for name, range, local_assigns %>
  </div>

  <%= yield :flot_timeline_title %>

  <div class="flot-timeline box">
    <div class="flot-timeline-toolbar">
      <%= yield :flot_timeline_toolbar %>
    </div>

    <div class="flot-timeline-granularity-container">
      <%= flot_granularity_select_for name, range, local_assigns %>
    </div>

    <div id="<%= name %>_timeline_flot" class="flot-timeline-flot"></div>

    <%= flot_for "#{name}_timeline_flot", data, flot_options %>
  </div>
</div>
<%= javascript_tag "jQuery('##{name}_timeline_container select').hide().peek('selectmenu', {style: 'popup'});" %>